.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50px;
    width: auto;
    margin-top: 22px;
    padding: 0;
    border-radius: 0 3px 3px 0;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: all .6s ease;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.next:hover, .prev:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    font-size: 12px;
    color: #f2f2f2;
    position: absolute;
    top: 0;
    padding: 8px 12px;
}

.dot {
    cursor: pointer;
    width: 13px;
    height: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}

@keyframes fade{
    from{opacity: .4;}
    to{opacity: 1;}
}


